<po-page-default p-title="AppName">
  <form>
    <div class="po-row">

      <po-widget class="po-xl-6 po-lg-6 po-md-6 po-sm-6">
        <po-input name="input" p-label="Title"> </po-input>
        <!-- <div class="po-font-text po-text-color-07">
          Email not exist
        </div> -->
        <po-textarea name="textarea" p-label="Description"> </po-textarea>
      </po-widget>

      <po-widget class="po-xl-4 po-lg-4 po-md-4 po-sm-4">
        <po-input name="input" p-label="Assign User Email"> </po-input>
        <po-input name="input" p-label="Issue Code"> </po-input>
        <po-checkbox name="checkbox" p-label="Close issue?"> </po-checkbox>
      </po-widget>

      <po-widget class="po-xl-6 po-lg-6 po-md-6 po-sm-6" p-title="Comments">
        <po-textarea name="textarea" p-label="Comment"> </po-textarea>
        <div class="ticket_comment__btn">
          <po-button p-icon="po-icon-plus" p-label="Add" p-type="primary" [p-disabled]=""></po-button>
        </div>
        <div class="po-mt-1">
          <div class="po-xl-11 po-lg-11 po-md-11 po-sm-11">
            <po-info p-label="Comment" p-value="Comment 2"> </po-info>
          </div>
          <div class="po-xl-1 po-lg-1 po-md-1 po-sm-1">
            <po-button p-icon="po-icon-delete" class="ticket_comment__btn" p-type="danger" p-small [p-disabled]="">
            </po-button>
          </div>
        </div>
      </po-widget>

      <div class="po-xl-4 po-lg-4 po-md-4 po-sm-4" p-title="Form Debbug">
        <po-widget p-title="Form Debbug">
        </po-widget>
        <po-button class="ticket_comment__btn" p-type="danger" p-label="Clear"></po-button>
        <po-button class="ticket_comment__btn" p-type="primary" p-label="Save" [p-disabled]=""></po-button>
      </div>

    </div>
  </form>
</po-page-default>
